#main{
	-webkit-column-width: 202px;//chrome的浏览器引擎
	-moz-column-width: 202px;//火狐浏览器引擎
	-moz-column-width: 202px;//opera的浏览器引擎
	-ms-column-width:202px;
}
.box{
	padding: 15px 0 0 15px;
	float: left;//将div在一行显示,但需要设定div的宽度
}
.pic{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px; //圆角
	box-shadow: 0 0 5px #CCC;//阴影
}
.pic img{
	width: 165px;
	height: auto;
}
